<script src="openpgp.js"></script>
<h1>WebPGP - Online PGP Service</h1>
<p>This service is designed to help protect anonymous users with published public PGP keys. If an adversary steals your computer and your private key, and it is not password protected, they may be able to use that to link you to your published PGP key and your anonymous account. All data is stored on the server with a symmetric key, and is decrypted in the brower.</p>
<form>
    <label>Private Key</label>
    <textarea id="private-key"></textarea>
    <label>Private Key Password</label>
    <input id="password" type="password" />
    <label>Public Key</label>
    <textarea id="public-key"></textarea>
    <label>Message</label>
    <textarea id="message"></textarea>
    <button id="encrypt">Encrypt</button>
    <button id="decrypt">Decrypt</button>
    <label>Result</label>
    <textarea id="result" ></textarea>
    <button id="save">Save</button>
</form>    
<a href="/hash">SHA256 hash of this page</a><br />
<a href="/openpgp">SHA256 hash of openpgp.js</a><br />
<a onclick="bookmark()">Bookmark this page</a><br />
<a href="http://hash.online-convert.com/sha256-generator">Check the SHA256 hash of this website</a><br />
<a href="https://github.com/unyo/webpgp">Fork me on Github</a>
<script>
    $('#encrypt').submit(function(e) {
        e.preventDefault();
        public_key = $('#public-key').val();
        message = $('#message').val();
        pubkey = openpgp.key.readArmored(public_key).keys[0];
        result = openpgp.encryptMessage([pubkey], message);
        $('#result').val(result);
    });
    $(function() {
        // restore the data via javascript
        // ask the server for the symmetric-key encrypted data
        // decrypt in the browser (2FA authentication optional)
        // apply the stored private key
        // apply the default message
        // apply the bitcoin address link (blockchain balance)
        // show the 2FA scan code upon request. resetting the
        // 2FA requires the existing 2FA first.
        // allow saving upon change
        // allow "burn data" option (set random new variables of at least the same length as the current data, and then delete from database)
    });
</script>
<style>
    label, textarea {
        display: block;
    }
</style>